*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-size: 24px;
  background-color: rgb(173, 243, 243);
}

h1 {
  padding: 30px;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.favorite-icon {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.filled {
  color: red;
  font-weight: 700;
}
